<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365079917521-vbhp38akn6htkdg4ur6nm68uo7vjo00n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365079917521-vbhp38akn6htkdg4ur6nm68uo7vjo00n</string>
	<key>API_KEY</key>
	<string>AIzaSyB2EPRwbvK-vI3TUw1D1pDorId3X64j0So</string>
	<key>GCM_SENDER_ID</key>
	<string>365079917521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Distaff</string>
	<key>PROJECT_ID</key>
	<string>distaff-1580883558155</string>
	<key>STORAGE_BUCKET</key>
	<string>distaff-1580883558155.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365079917521:ios:1475a2435367960cafe6f0</string>
	<key>DATABASE_URL</key>
	<string>https://distaff-1580883558155.firebaseio.com</string>
</dict>
</plist>